@model List<Review>
@using Microsoft.AspNetCore.Http

<header>
    <div class="wrapper main-header">
        <div class="title">
            <a asp-action="Index" asp-controller="Home">
                <h1>Review</h1>
            </a>
        </div>
        <div class="navlinks">
            <ul>
                <li>
                    <a asp-action="PostReview" asp-controller="Home">Post a Review</a>
                </li>
                <li>
                    <a asp-action="Logout" asp-controller="Home">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<section id="dashboard">
    <div class="wrapper dashBody">
        <h4>Hello @ViewBag.CurrentUser.FirstName</h4>
        <table>
            <tr>
                <th>Review Title</th>
                <th>Author</th>
                <th>Date Created</th>
            </tr>
            @foreach (var review in Model)
            {
                <tr>
                    <td>
                        <a class="reviewLink" asp-action="ViewReview" asp-controller="Home" asp-route-reviewId="@review.ReviewID">@review.ReviewTitle</a>
                    </td>
                    <td>@review.Creator.FirstName</td>
                    <td>@review.CreatedAt.ToString("MM/dd/yyyy")</td>
                </tr>
            }
        </table>
    </div>
</section>